{% load static %}
<section id="about" class="about section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Über uns</h2>
    <p><span>Erfahren Sie mehr</span> <span class="description-title">über uns</span></p>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-7" data-aos="fade-up">
        <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid mb-4" alt="">
        <div class="book-a-table">
          <h3>Tisch reservieren</h3>
          <p>+49 151 40905653</p>
        </div>
      </div>

      <div class="col-lg-5" data-aos="fade-up">
        <p class="fst-italic">
          Omran Kebab steht für authentischen Geschmack und frisch zubereitete orientalische Spezialitäten.
        </p>
        <ul>
          <li><i class="bi bi-check-circle-fill"></i> Frische Zutaten</li>
          <li><i class="bi bi-check-circle-fill"></i> Große Auswahl</li>
          <li><i class="bi bi-check-circle-fill"></i> Afghanische Spezialitäten</li>
        </ul>
        <img src="{% static 'assets/img/about-2.jpg' %}" class="img-fluid mt-3" alt="">
      </div>
    </div>
  </div>
</section>

<section id="why-us" class="why-us section light-background">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="why-box">
          <h3>Warum Omran Kebab?</h3>
          <p>Qualität, Geschmack und schnelle Zubereitung.</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row gy-4">
          <div class="col-xl-4">
            <div class="icon-box">
              <i class="bi bi-clipboard-data"></i>
              <h4>Frische</h4>
              <p>Täglich frisch</p>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="icon-box">
              <i class="bi bi-gem"></i>
              <h4>Authentisch</h4>
              <p>Originalrezepte</p>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="icon-box">
              <i class="bi bi-inboxes"></i>
              <h4>Schnell</h4>
              <p>Vor Ort & To-Go</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="stats" class="stats section dark-background">
  <img src="{% static 'assets/img/stats-bg.jpg' %}" alt="">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3"><span class="purecounter" data-purecounter-end="232"></span><p>Kunden</p></div>
      <div class="col-lg-3"><span class="purecounter" data-purecounter-end="521"></span><p>Gerichte</p></div>
      <div class="col-lg-3"><span class="purecounter" data-purecounter-end="1453"></span><p>Stunden</p></div>
      <div class="col-lg-3"><span class="purecounter" data-purecounter-end="32"></span><p>Team</p></div>
    </div>
  </div>
</section>
